@model BasicForm.Models.CalendarOrder

@{
    ViewBag.Title = "View";
}

<link href="~/Content/css_kalendar_m_v1.css" rel="stylesheet" type="text/css">
<link href="~/Content/css_calendar_generator.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <br />





        <div id="c_box">
            <div id="c_month_year_box">

                <a href="#"><div id="c_left_click"></div></a>

            </div>




            <div id="c_days_new">
                <div id="c_days_box">
                    <!-- Name days-->
                    <div class="c_day_row_title">
                        <div class="c_day_title">PO</div>
                        <div class="c_day_title">ÚT</div>
                        <div class="c_day_title">ST</div>
                        <div class="c_day_title">ČT</div>
                        <div class="c_day_title">PÁ</div>
                        <div class="c_day_week_title">SO</div>
                        <div class="c_day_week_title">NE</div>
                    </div>

                    <!-- Big table with kurvadratdopicenebudutodelat days-->




                    <div class="divcalendar">

                        <div id="calendaroverallcontrols">
                            <!-- <div id="year"></div> -->

                            <div id="calendarmonthcontrols">
                                <a id="btnPrevYr" href="#" title="Previous Year"><span><<</span></a>

                                <a id="btnPrev" href="#" title="Previous Month"><span><</span></a>

                                <!-- <input type="button" src="images/btnprevmonth.png" alt="Submit" id="btnPrev"/>-->
                                <!-- <div id="month"></div>-->

                                <div id="monthandyear"></div>

                                <!--<input type="button" src="images/btnnextmonth.png" alt="Submit" id="btnNext"/>-->

                                <a id="btnNext" href="#" title="Next Month"><span>></span></a>

                                <a id="btnNextYr" href="#" title="Next Year"><span>>></span></a>
                            </div>
                        </div>

                        <div id="divcalendartable"></div>
                    </div>



                </div>
            </div>

            <div id="c_check_box">
                Datum: @Html.EditorFor(model => model.formDate, new { htmlAttributes = new { @class = "inputs", type = "text", id="date", placeholder="-" }})
                Čas: @Html.EditorFor(model => model.formDate, new { htmlAttributes = new { @class = "inputs", type = "text", id = "hour", placeholder = "-" } })
            </div>
            <div id="c_info_time_box">
                <div id="c_info_box">
                    Jméno:*
                    @Html.EditorFor(model => model.customer.Name, new { htmlAttributes = new { @class = "inputs" } })
                    @Html.ValidationMessageFor(model => model.customer.Name, "", new { @class = "text-danger" })
                    Příjmení:*
                    @Html.EditorFor(model => model.customer.Surname, new { htmlAttributes = new { @class = "inputs" } })
                    @Html.ValidationMessageFor(model => model.customer.Surname, "", new { @class = "text-danger" })
                    Telefon:*
                    @Html.EditorFor(model => model.customer.Phone, new { htmlAttributes = new { @class = "inputs", @placeholder = "+420" } })
                    @Html.ValidationMessageFor(model => model.customer.Phone, "", new { @class = "text-danger" })
                    Rodné číslo:*
                    @Html.EditorFor(model => model.customer.PersonalNumber, new { htmlAttributes = new { @class = "inputs" } })
                    @Html.ValidationMessageFor(model => model.customer.PersonalNumber, "", new { @class = "text-danger" })
                </div>
                <!-- Day calendar -->
                <div id="c_time_box">
                    <!-- Minutes -->
                    <div class="c_time_hour"></div>
                    @for (int i = 0; i < 6; i++)
                    {
                        char zero = '0';
                        <div class="c_time_hour">@i@zero</div>
                    }
                    <!-- Hours -->
                    @for (int i = 8; i < 18; i++)
                    {
                        <!-- Hours displaying-->
                        <div class="c_time_hour">@i</div>

                        <!-- Blocks to select-->
                        for (int j = 0; j < 6; j++)
                        {
                            string codeHour = i < 10 ? ("0") : "";
                            codeHour = codeHour + i;
                            char zeroMinute = '0';

                            <div class="c_time_minute" id="@codeHour@j@zeroMinute"></div>
                        }
                    }
                </div>
                <div id="c_send_box">
                    <div id="c_left_send">
                        E-mail:*<br />
                        @Html.EditorFor(model => model.customer.Email, new { htmlAttributes = new { @class = "inputs_grt" } })
                        @Html.ValidationMessageFor(model => model.customer.Email, "", new { @class = "text-danger" })
                        Procedura:<br />
                        
                        
                        @Html.DropDownListFor(model => model.newOrder.ProcedureID, new SelectList(Model.procedures, "ID", "Name"), new { @class = "select" } )
                        
                        <br /><br />
                        <input type="submit" value="Send" class="btn btn-default" />
                        <!-- <a href="#"><div class="send">Objednat se</div></a>-->
                        <br />
                    </div>
                    <div id="c_right_send">
                        Poznámka:<br />
                        <textarea class="txtarea"></textarea>


                        <button type="submit" name="YourButtonSpecialName" value="xx" />
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
        <script type="text/javascript" language="JavaScript" src="~/Scripts/Calendar_jvs.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" language="JavaScript" src="~/Scripts/calendar_generator.js"></script>
    </div>

}
<div>@ViewBag.MujJson</div>
<div>@ViewBag.JsonRaw</div>
<div onclick="haha(@Html.Raw(Json.Encode(@ViewBag.Json)))">well fuck zou you idiot</div>
<div>@ViewBag.Json</div>

<script>
    function haha(data){
        var text = '[{ "hour": "10_15:30" }, { "hour": "12_15:30" }, { "hour": "9_09:30" }, { "hour": "10_12:30" }, { "hour": "12_16:40" }, { "hour": "10_12:00" }, { "hour": "8_15:30" }, { "hour": "7_15:30" }, { "hour": "8_09:30" }, { "hour": "9_12:30" }]';
        /*'{"employees":[' +
'{"firstName":"John","lastName":"Doe" },' +
'{"firstName":"Anna","lastName":"Smith" },' +
'{"firstName":"Peter","lastName":"Jones" }]}';
*/
  //      var vb = '@ViewBag.Json';
        //      var ahoj = JSON.parse(vb);*/
       // var data = @Html.Raw(Json.Encode(@ViewBag.Json));
        //var skoro = JSON.parse(data);
        alert(JSON.stringify(data.Data));
       // alert(ahoj[0].hour);
    }

</script>