@model BasicForm.Models.CalendarOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendarOrder</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.OfficeID)
        </dt>

        <dd>
            @Model.OfficeID
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewOrder)
        </dt>

        <dd>
            ID
            @Model.NewOrder.ID
            OfficeID
            @Model.NewOrder.OfficeID
            ProcedureID
            @Model.NewOrder.ProcedureID
            CustomerID
            @Model.NewOrder.CustomerID
            DateAndTime
            @Model.NewOrder.DateAndTime
            DescCustomer
            @Model.NewOrder.DescCustomer
            DescProvider
            @Model.NewOrder.DescProvider
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            ID
            @Model.Customer.ID
            Name
            @Model.Customer.Name
            Surname
            @Model.Customer.Surname
            PersonalNumber
            @Model.Customer.PersonalNumber
            Phone
            @Model.Customer.Phone
            Email
            @Model.Customer.Email
        </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
